@import '~office-ui-fabric-react/dist/sass/References.scss';

.calculator {
  .title {
    color: #bf324c;
    margin-left: 15%;
    align-items: center;
  }
  
  body {
    margin: 150px;
  }
  .inputBox {
    width: 500px;
    height: 25px;
  }
  
  .button1 {
    width: 80px;
    height: 30px;
    margin: 20px;
  }
  
  .buttonBox {
    margin-left: 10px;
  }
  
  .table{
    border: black;
    box-sizing: border-box;
    align-content: center;
  }
  
}
